.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 20%;
    margin: 0;
    color: #F9FaF8;
    align-items: center;
    padding-bottom: 64px;
}
body{
    /* padding: 0 20%; */
    font-family: 'Roboto';
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header-a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
   
}

a{
    text-decoration: none;
    color: #F9FaF8;
}

.body{
    display: flex;
    flex-direction: column;

}

.body-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20%;
    background-color: #1F2937;
    padding-bottom: 100px;
    color: #F9FaF8;
}

button{
    background-color: #3882F6;
    border-radius: 6px;
    border-width: 0;
    padding: 8px;
    color: #F9FaF8;
    font-weight: bold;
}

.info{
    padding: 0 20%;
    display: flex;
    flex-direction: column;
}
.img-arr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
}

.img-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 200px;
}

.mid-img{
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border: 3px;
    border-color: #3882F6;
    border-style: solid;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 64px;
    padding: 0 25%;
}

.quote-p{
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.author{
    align-self: flex-end;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #1F2937;
}